body {
    background: linear-gradient(#0A02E8, #02002f);
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img {
    border-radius: 50%;
    box-shadow: -10px 10px 5px  rgba(0, 0, 0, 0.442);
    
    
}
    
ul {
    align-self: center;
    

}
* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    
}
header {
    background: linear-gradient(#028CE8, #035287);
    min-height: 60px;
    box-shadow: 0px 8px 10px #00000094;
    
}
nav {
    background: linear-gradient(#5550E8, #22205c);
    
}
a:hover {
    background-color: #6FE7E8;
    transition-duration: 0.75s;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    padding: 1.5px;
}
footer {
    background-color: #2a2778;
}
a {
    text-decoration: none;
    color: white;
    

}

    

